<mat-toolbar color="primary" class="mat-elevation-z#">
    <span><mat-icon>eco</mat-icon> Easy as abc</span>
    <div class="spacer"> </div>
    <div class="topnav-centered">
    <a mat-button routerLink='home'>home</a>
    <a mat-button routerLink='ECoupons'>ECoupons</a>
    <a mat-button routerLink='E-Brand'>E-Brand</a>
    <a mat-button routerLink='Reuse Market Button'>Reuse Market Button</a>
    </div>
    <a mat-raised-button color="accent" routerLink='login' >login</a>
  </mat-toolbar>
  

  