<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Easy as abc</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#" (click)="showme('login')">login</a></li>
        <li><a href="#" (click)="showme('signup')">signup</a></li>
      </ul>
    </div>
  </nav>
    
  <div class="container">
    <h3>leaning become easy</h3>
    <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  </div>
  